body{
font-family: Arial;
background:#000;
color:white;
text-align:center;
padding:20px;
}

.page{
max-width:500px;
margin:auto;
}

.hidden{
display:none;
}

.description{
margin:20px;
font-size:18px;
color:#ddd;
}

.card{
background:#222;
padding:20px;
border-radius:15px;
margin:20px;
}

.btn-main{
background:#0d6efd;
color:white;
padding:15px;
border:none;
border-radius:10px;
font-size:18px;
width:100%;
}

.btn-on{
background:#00c853;
color:white;
padding:15px;
border:none;
border-radius:10px;
font-size:18px;
width:80%;
margin:10px;
}

.btn-off{
background:#ff1744;
color:white;
padding:15px;
border:none;
border-radius:10px;
font-size:18px;
width:80%;
margin:10px;
}

.btn-retour{
background:#555;
color:white;
padding:12px;
border:none;
border-radius:10px;
margin-top:20px;
}

.ampoule{
width:200px;
height:200px;
border-radius:50%;
margin:30px auto;
}

.on{
background:yellow;
box-shadow:0 0 80px yellow;
}

.off{
background:#333;
}