body{
background:black;
color:white;
text-align:center;
font-family:Arial;
}

.description{
margin:20px;
color:#ccc;
}

.card{
background:#222;
padding:20px;
border-radius:15px;
margin:20px;
}

button{
padding:15px;
margin:10px;
font-size:18px;
border:none;
border-radius:10px;
}

.btn-main{
background:#0d6efd;
color:white;
}

.btn-on{
background:#00c853;
color:white;
}

.btn-off{
background:#ff1744;
color:white;
}

.btn-retour{
background:#555;
color:white;
}

.ampoule{
width:200px;
height:200px;
border-radius:50%;
margin:30px auto;
}

.on{
background:yellow;
box-shadow:0 0 80px yellow;
}

.off{
background:#333;
}